/* styles/global.css */

/* グローバルスタイル */
* {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  padding: 3rem;
  color: #fff;
}

body {
  font-size: 1.6rem;
}

/* a.btnの通常時スタイル */
.btn {
  position: relative;
  text-decoration: none;
  transition: 0.15s ease-out;
  -webkit-transform: translateZ(0);
  display: inline-block;
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 3rem;
  padding: 1.2rem 5rem 1.2rem 3rem;
  color: 2px #fff;
  text-align: center;
  line-height: 1;
  box-shadow: 0 2px 0 #ABBEE0;
  background: #fff;
  width: auto;
  min-width: 120px; /* 最低幅を確保 */
  white-space: nowrap; /* 改行を防ぐ */
}

/*メディアクエリ*/
@media (max-width: 480px) {
  .btn {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    min-width: 120px;
  }
}

.btn:before,
.btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.btn:before {
  right: 2rem;
  width: 0.7rem;
  height: 1px;
  background: #ABBEE0;
}

.btn:after {
  right: 20px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #ABBEE0;
  border-right: 1px solid #ABBEE0;
  transform: rotate(45deg);
}

.btn:hover {
  color: #fff;
  background-color: #ABBEE0;
  transform: translateY(2px);
  box-shadow: 0 0 0 rgba(245, 209, 0, 0.75);
  opacity: 1;
  cursor: pointer;
}

.btn:hover:before {
  background-color: #fff;
}

.btn:hover:after {
  border-color: #fff;
}

.btn-secondary{
margin-top: 20px;
}

.btn-home{
  color: #5c4a3d;
  font-weight:450;
  border: none;
  box-shadow: 5px 5px 0 #fefeb3;
  background: linear-gradient(135deg, #fca1a1,#f9f993);
}