html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* 画面全体を埋める */
}

.inputTop {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.contentWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 20px 0;
}

/*トップ画面の写真*/
.img {
  width: 45%;
  max-width: 450px;
  height: auto;
  border-radius: 10px;
  display: block;
}

.icon8{
  background-color: transparent;
  border-radius: 90%;
  border: solid none;
  width: 30px;
  height: 30px;
}

.icon8:hover{
    background-color: #b2eeda;
    cursor: pointer;
}

.icon{
  border-radius: 70%;
  background-color: transparent;
  border:none;
}

.noIcon:hover{
 background-color: #f1c4c4; 
 cursor: not-allowed;
}