html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  background-color: #F4C0C2 !important;
  color: white !important;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #F4C0C2 !important;
  color: white !important;
  width: 100%;
  padding: 20px 0;
  text-align: center;
   margin-top: auto;

}

.wrapper{
  display: flex;
  flex-direction: column;
   min-height: 100vh; /* 画面全体を埋める */
}

.inputTop {
    flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.contentWrapper {
 display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 20px 0;
}

/*トップ画面の写真*/
.img {
  width: 45%;
  max-width: 450px;
  height: auto;
  border-radius: 10px;
  display: block;
}

/*プロフィール画像*/
.profileImage {
  /*サイズ変更*/
  width: 200px;
  height: 200px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 90%;
  padding: 24px;
  margin: 40px auto;
  text-align: center;
}

.birthdayBox {
  margin-bottom: 80px;
}

.label {
  display: flex;
  font-size: 15px;
  margin-bottom: 8px;
  margin-left: 60px;
  margin-right: 60px;
  padding: 3px 10px;
  border: black solid none;
  width: auto;
  background-color: #cde4dd;
  color: #154335;
}

.content {
  text-align: left;
  padding: 10px;
  margin-bottom: 8px;
  margin-left: 60px;
}

.name{
  margin-bottom: 20px;
}

.button{
  text-align: center;
  margin-bottom: 50px;
  width: 100%;
}

.profileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}